* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* header */


header {
    height: 450px;
    background-image: url('../images/courses-background.jpg');
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 48, 48, 0.7);
}

/* header-left */

.navbar-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.navbar-container .container {
    min-width: 95%;
    transition: all 0.5s;
}

.col-container {
    max-height: 100px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    max-width: 60%;
}

.header-left .category-line{
    font-weight: lighter;
    /* color: rgb(215, 215, 215); */
    color: rgb(100,100,227,0.2);
}

.category{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-nav{
    position: absolute;
    top: 80px;
    right: -78px;
    width: 200px;
    padding: 17px 0 15px;
    background: #ffffff;
    box-shadow: 0 10px 20px #08002a14;
    border-radius: 4px;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
    cursor: default;
}

.category .category-svg-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category .category-svg-span:hover span {
    transition: 0.4s;
}

.category .category-svg-span span{
    color: white;
}

.category .category-svg-span svg{
    fill: white;
}

.category li:hover {
    color: #0d6efd;
}

.category-line {
    font-size: 200%;
    font-weight: lighter;
    color: rgb(215, 215, 215);
    margin-left: 10%;
    margin-right: 10%;
}

.category a {
    text-decoration: none;
    width: 120px;
    display: flex;
    align-items: center;
}

.category a span {
    color: black;
    margin-left: 15px;
}

.category a svg {
    height: 15px;
    width: 15px !important;
    min-width: min-content;
    transition: 0.4s;
}

.category li {
    color: black;
    transition: 0.2s;
    list-style-type: none;
    font-weight: 500;
    cursor: pointer;
}

.category li:hover {
    color: #0d6efd;
}

.category span {
    font-weight: 500;
}


/* header-mid */


.home {
    position: relative;
}

.home-nav {
    position: absolute;
    top: 61px;
    left: 0;
    width: 200px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0 10px 20px #08002a14;
    opacity: 0;
    z-index: 1;
    cursor: default;
}

.home-nav ul{
    width: 100%;
    height: 100%;
    padding: 0;
}

.home-nav li {
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    height: 50px;
    list-style-type: none;
    font-size: 13px;
    font-weight: 500;
    color: #0e1133;;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.home-nav li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0d6efd, #0d6efd);
    transition: left 0.7s;
    z-index: -1;
}

.home-nav li:hover::before {
    left: 100%;
}

.home-nav li:hover {
    color: #fff;
    background-color:#0d6efd;
}

.header-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-col {
    width: 30% !important;
    margin-left: 20%;
}

.header-mid div {
    display: flex;
    justify-content: space-evenly;
    transition: 0.4s;
}

.header-mid a {
    text-decoration: none;
    padding-bottom:2px;
    transition: all 0.4s;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.header-mid a:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.header-mid a i {
    font-size: 70%;
    transition: 0.3s;
    color: white;
}

.header-mid span {
    font-weight: 500;
    transition: 0.3s;
    color: white;
}

.mid-margin-c {
    margin-left: 5%;
}

.right-col {
    width: 30%;
}

.header-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-container {
    width: 280px;
}

.search-container form {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color: white;
    height: 50px;
}

.search-container form input {
    background-color: white;
    position: relative;
    left: 16%;
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
}

.search-container form button:nth-child(2) {
    border: none;
    background-color: white;
    position: relative;
    padding: 9px;
    right: 70%;
}

.search-container form button:nth-child(4) {
    border: none;
    background-color: white;
    position: relative;
    left: -1%;
}

.search-container form span:nth-child(3) {
    font-size: x-large;
    font-weight: lighter;
    color: rgb(215, 215, 215);
}

.search-container form span:last-child {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
    border: none;
    border-radius: 50%;
    background-color: #0d6efd;
    left: 92%;
    bottom: 94%;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.search-container form span:last-child:hover {
    background-color: black;
}

.try-button button {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #2b4eff;
    transition: 0.5s;
}

.try-button button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px 5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.try-button button span {
    color: white;
}


/* course-tab-heading */

.course-tab-heading{
    position: absolute;
    left: 10%;
    top: 50%;
}

.course-tab-heading h1{
    font-size: 70px;
    color: #fff;
    line-height: 62px;
    margin-bottom: 0;
    font-weight: 700;
}

.course-tab-heading a{
    text-decoration: none;
}

.course-tab-heading span{
    color: #fff;
}

.course-tab-heading span:nth-child(2){
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
}


/* course-carts */

.course-carts {
    margin-top: 5%;
}

.course-cart-margin{
    margin-left: 20px;
}


.course-cart {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 440px;
}

.course-carts-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-carts-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-cart-top {
    position: relative;
    overflow: hidden;
}

.course-carts-top .course-cart:first-child .course-cart-top span {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #0fa0dd;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}


.course-carts-top .course-cart:nth-child(2) .course-cart-top span{
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #30a820;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.course-carts-top .course-cart:last-child .course-cart-top span {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #b128ff;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}


.course-carts-bottom .course-cart:last-child .course-cart-top span {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #f2277e;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.course-carts-bottom .course-cart:first-child .course-cart-top span {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #3b60ff;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.course-carts-bottom .course-cart:nth-child(2) .course-cart-top span {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #fa7919;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.course-cart-top img {
    width: 376px;
    height: 255px;
    z-index: 0;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s !important;
    border-radius: 6px;
}

.course-cart-top img:hover {
    transform: scale(1.1) !important;
}

.course-cart-mid {
    padding: 25px 30px;
    height: 215px;
}

.course-cart-info {
    display: flex;
    justify-content: space-between;
}

.course-cart-info span {
    color: #53545b;
}

.course-cart-info-left i {
    color: #53545b;
}

.course-cart-info-right i {
    color: #ff9415;
}

.course-cart-body p {
    color: #0e1133;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.course-cart-body p:hover {
    color: #0d6efd;
}

.cr-cart-top-margin {
    margin-top: 2%;
}

.cr-cart-bottom{
    display: flex;
    justify-content: space-between;
}

.course-cart-body-bt-right{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.course-cart-body-bt-left{
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
}

.course-cart-body img {
    border-radius: 50%;
}

.course-cart-body span {
    margin-left: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.course-cart-body span:hover{
    color: #0d6efd;
}

.course-carts-top .course-cart:first-child .course-cart-info-left span{
    background: rgba(48, 168, 32, .1);
    color: #30a820;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.course-carts-top .course-cart:first-child .course-cart-info-left span:hover{
    color: white;
    background-color: #30a820;;
}

.course-carts-top .course-cart:last-child .course-cart-info-left span{
    background: rgba(43, 78, 255, .1);
    color: #2b4eff;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.course-carts-top .course-cart:last-child .course-cart-info-left span:hover{
    color: white;
    background-color: #2b4eff;;
}

.course-carts-bottom .course-cart:first-child .course-cart-info-left span{
    background: rgba(48, 168, 32, .1);
    color: #30a820;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.course-carts-bottom .course-cart:first-child .course-cart-info-left span:hover{
    color: white;
    background-color: #30a820;;
}

.course-carts-bottom .course-cart:last-child .course-cart-info-left span{
    background: rgba(242, 39, 126, .1);
    color: #f2277e;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.course-carts-bottom .course-cart:last-child .course-cart-info-left span:hover{
    color: white;
    background-color: #f2277e;
}


/* blog */

main{
    background-color: rgb(246, 246, 246);
    padding-bottom: 50px;
}

.blog-content-container{
    width: 100%;
    height: 1700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog-navigation{
    height: 100%;
    width: 20%;
    margin-top: 27%;
}

.blog-content{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.blog-categories h5{
    font-size: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f0f0f5;
}

.blog-categories ul{
    padding: 20px;
}

.blog-categories ul li{
    cursor: pointer;
    transition: all 0.4s;
    font-size: 16px;
    font-weight: 500;
    color: #53545b;
    margin-bottom: 15px;
}

.blog-categories ul li:hover{
    color: #0d6efd;
}

.blog-tags{
    margin-bottom: 50px;
}

.blog-tags h5{
    font-size: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f0f0f5;
    color: #0e1133;
    font-weight: 600;
    line-height: 1.1;
}

.blog-tags span{
    background-color: #0d6efd;
    margin-left: 2px;
    height: 36px;
    padding: 5px;
    line-height: 38px;
    font-size: 15px;
    font-weight: 500;
    color: #53545b;
    background: #e3e3e3;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}

.blog-tags span:hover{
    background-color: #0d6efd;
    color: white;
}

.recent-posts{
    width: 100%;
    margin-bottom: 50px;
}

.recent-posts h5:first-child{
    padding-bottom: 7px;
    border-bottom: 1px solid #f0f0f5;
}

.recent-posts-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-posts-content-text{
    margin-left: 20px;
}

.recent-posts-content img{
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.recent-posts-content h5{
    font-size: 18px;
    color: #0e1133;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.1;
    cursor: pointer;
    transition: 0.3s;
}

.recent-posts-content h5:hover{
    color: #0d6efd;
}

.footer-bottom-email form {
    position: relative;
    height: 60px;
    width: 310px;
    transition: all 0.5s;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(237, 238, 243);;
    margin-bottom: 50px;
}

.footer-bottom-email form input {
    position: absolute;
    left: 10%;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(237, 238, 243);;
}

.footer-bottom-email form button{
    position: absolute;
    right: 0;
    width: 70px;
    outline: none;
    border: none;
    height: 100%;
    font-size: 18px;
    color: black;
    background: rgb(237, 238, 243);
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-bottom span:first-child{
    font-size: 14px;
    color: #83848a;
    font-weight: 400;
}

.footer-bottom span:last-child{
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}




/* prev-next */

.prev-next{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.prev-next-left{
    cursor: pointer;
    margin-right: 15px;
}

.prev-next-left span{
    transition: 0.4s;
}

.prev-next-left i{
    transition: 0.4s;
}

.prev-next-left:hover span{
    color: #0d6efd;
}

.prev-next-left:hover i{
    color: #0d6efd;
    animation: arrow-hov 0.5s infinite linear;
}


.prev-next-right{
    cursor: pointer;
}

.prev-next-right span{
    transition: 0.4s;
}

.prev-next-right i{
    transition: 0.4s;
}

.prev-next-right:hover span{
    color: #0d6efd;
}

.prev-next-right:hover i{
    color: #0d6efd;
    animation: arrow-hov 0.5s infinite linear;
}

@keyframes arrow-hov {
    0% {
        translate: 1px 0px 0px;
    }

    50% {
        translate: 4px 0px 15px;
    }

    100% {
        translate: 1px 0px 5px;
    }
}


.prev-next-mid button{
    height: 40px;
    width: 40px;
    border: 2px solid #eef0f6;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.4s;
}

.prev-next-mid button:nth-child(2){
    background-color: #0d6efd;
    color: white;
}

.prev-next-mid button:first-child:hover{
    background-color: #0d6efd;
    color: white;
    border: none;
}

.prev-next-mid button:last-child:hover{
    background-color: #0d6efd;
    color: white;
    border: none;
}



/* footer */

footer{
    background-color: #0e1133;
    height: 550px;
}

.footer-mid{
    display: flex;
}

.footer-mid-left{
    width: 25%;
    display: grid;
    justify-content: center;
    height: 300px;
}

.footer-mid-left img{
    margin-bottom: 22px;
    cursor: pointer;
}

.footer-mid-left-explanation{
    margin-bottom: 30px;
}

.footer-mid-left span{
    font-size: 16px;
    line-height: 24px;
    color: #a1a2ab;
}

.footer-mid-left-socials{
    max-width: 160px;
    display: flex;
    gap: 10px;
}

.footer-mid-left i{
    font-size: 44px;
    cursor: pointer;
    transition: 0.4s;
}

.footer-mid-left i:first-child{
    color: #285da1;
}

.footer-mid-left i:first-child:hover{
    color: #3985e9;
}

.footer-mid-left i:nth-child(2){
    color: #03a9f4;
}

.footer-mid-left i:nth-child(2):hover{
    color: #71d0fc;
}

.footer-mid-left i:last-child{
    color: #d2173f;
}

.footer-mid-left i:last-child:hover{
    color: #ce4c69;
}


.footer-mid-center{
    width: 50%;
    display: flex;
    justify-content: center;
}

.footer-mid-right{
    width: 25%;
}

.footer-top{
    display: flex;
    justify-content: center;
}

.footer-banner{
    position: relative;
    width: 100%;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0d6efd;
    border-radius: 6px;
    overflow: hidden;
    bottom: 100px;
}

.footer-banner h1{
    color: white;
    font-size: 46px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}

.footer-banner img{
    position: absolute;
    bottom: -48px;
    right: -148px;
}

.footer-banner button{
    display: flex;
    z-index: 1;
    height: 60px;
    line-height: 58px;
    background: #ffffff;
    color: #6d6e75;
    padding: 0 40px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.4s;
}

.footer-banner button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px 5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: #0e1133;
}

.footer-mid-center{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.footer-mid-center p{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}

.footer-mid-center li{
    list-style-type: none;
    cursor: pointer;
    color: #a1a2ab;
    transition: 0.3s;
}

.footer-mid-center li:hover{
    color: #fff;
}


.company-heading{
    margin-left: 30px;
}

.platform-heading{
    margin-left: 30px;
}


.footer-bottom-sub p{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}


.footer-bottom-email form {
    position: relative;
    height: 60px;
    width: 310px;
    transition: all 0.5s;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 15px;
}

.footer-bottom-email form input {
    position: absolute;
    left: 10%;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
}

.footer-bottom-email form button{
    position: absolute;
    right: 0;
    width: 70px;
    outline: none;
    border: none;
    height: 100%;
    font-size: 18px;
    color: #fff;
    background: #2b4eff;
}


.footer-bottom-inf span{
    font-size: 14px;
    line-height: 20px;
    color: #83848a;
    padding-right: 60px;
}