@{
    ViewData["Title"] = "Home Page";
}


<main>

    <section id="explore">
        <div class="container">
            <div class="explore-top">
                <div class="explore-heading">
                    <div class="explore-heading-left">
                        <h2>
                            Explore <br> Our <span class="exp-animated-txt">
                                Popular
                                <img src="~/assets/images/orange-line.png" alt="">
                            </span> Courses
                        </h2>
                    </div>
                    <div class="explore-heading-right">
                        <a href="./courses.html">
                            <span>View all Category</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
                <div class="explore-categories">
                    <div class="top-explore-categories">
                        <div class="explore-category">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                 style="enable-background:new 0 0 512 512" viewBox="0 0 512 512">
                            <path d="M178.7 492H120c-55.2 0-100-44.8-100-100V120C20 64.8 64.8 20 120 20h58.7C123.7 20 81 64.8 81 120v272c0 55.2 42.7 100 97.7 100zm176.8-287.2 18.9-85.5c4.8-24.1 16.7-46.3 34.1-63.7l35.4-35.4c-15.1-1.4-30.7 3.7-42.3 15.3l-61.1 61.1c-17.4 17.4-29.3 39.6-34.1 63.7L295 217l56.7-11.3c1.2-.3 2.5-.6 3.8-.9z"
                                  style="fill:#cee1f2" />
                            <path d="M299 512H120C53.8 512 0 458.2 0 392V120C0 53.8 53.8 0 120 0h183c11 0 20 9 20 20s-9 20-20 20H120c-44.1 0-80 35.9-80 80v272c0 44.1 35.9 80 80 80h179c44.1 0 80-35.9 80-80V272c0-11 9-20 20-20s20 9 20 20v120c0 66.2-53.8 120-120 120zm-.1-275.4 56.7-11.3c28.1-5.6 53.7-19.3 73.9-39.6l61.1-61.1c28.5-28.5 28.5-74.8 0-103.2-28.5-28.5-74.8-28.5-103.2 0l-61.1 61.1c-20.3 20.3-33.9 45.8-39.6 73.9l-11.3 56.7c-1.3 6.6.7 13.3 5.5 18.1 3.8 3.8 8.9 5.9 14.1 5.9 1.3-.1 2.6-.2 3.9-.5zM462.4 49.7c6.2 6.2 9.7 14.5 9.7 23.3s-3.4 17.1-9.7 23.3l-61.1 61.1c-14.7 14.7-33.2 24.6-53.5 28.6l-27.3 5.4 5.4-27.3c4.1-20.3 14-38.8 28.6-53.5l61.1-61.1c6.2-6.2 14.5-9.7 23.3-9.7s17.2 3.6 23.5 9.9z"
                                  style="fill:#3444f1" />
                            <path d="M319 352H101c-11 0-20-9-20-20s9-20 20-20h218c11 0 20 9 20 20s-8.9 20-20 20zm-108 35c-13.8 0-25 11.2-25 25s11.2 25 25 25 25-11.2 25-25-11.2-25-25-25z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Data Science</span>
                                <span>Data is Everything</span>
                            </div>
                        </div>
                        <div class="explore-category explore-margin">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                 style="enable-background:new 0 0 512 512" viewBox="0 0 512 512">
                            <path d="M111.3 491.6C60.1 487.1 20 444.2 20 392V223.7c0-31.2 14.6-60.6 39.4-79.5l136-103.7c35.8-27.3 85.5-27.3 121.3 0l9.2 7c-24.6-2.4-49.8 4.2-70.5 20L93.6 190.8C85 197.4 80 207.5 80 218.3V419c0 28.6 12 54.4 31.3 72.6z"
                                  style="fill:#cee1f2" />
                            <path d="M392 512H120C53.8 512 0 458.1 0 392V223.7c0-37.2 17.7-72.9 47.2-95.4l136-103.7c42.8-32.7 102.7-32.7 145.5 0L372 57.5V32c0-11 9-20 20-20s20 9 20 20v65.9c0 7.6-4.3 14.5-11.1 17.9-6.8 3.4-15 2.6-21-2l-75.4-57.4c-28.6-21.8-68.5-21.8-97 0l-136 103.7c-19.7 15-31.5 38.8-31.5 63.6V392c0 44.1 35.9 80 80 80h272c44.1 0 80-35.9 80-80V223.7c0-25.1-11.6-49-31.1-63.8-8.8-6.7-10.5-19.2-3.8-28s19.3-10.5 28-3.8c29.3 22.4 46.9 58.1 46.9 95.6V392c0 66.1-53.8 120-120 120z"
                                  style="fill:#3444f1" />
                            <path d="M241 256c0 13.8-11.2 25-25 25s-25-11.2-25-25 11.2-25 25-25 25 11.2 25 25zm55-25c-13.8 0-25 11.2-25 25s11.2 25 25 25 25-11.2 25-25-11.2-25-25-25zm-80 80c-13.8 0-25 11.2-25 25s11.2 25 25 25 25-11.2 25-25-11.2-25-25-25zm80 0c-13.8 0-25 11.2-25 25s11.2 25 25 25 25-11.2 25-25-11.2-25-25-25z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Business</span>
                                <span>Improve your business</span>
                            </div>
                        </div>
                        <div class="explore-category explore-margin">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                 style="enable-background:new 0 0 512 512" viewBox="0 0 512 512">
                            <path d="M81 392V120c0-55.2 44.8-100 100-100h-61C64.8 20 20 64.8 20 120v272c0 55.2 44.8 100 100 100h61c-55.2 0-100-44.8-100-100z"
                                  style="fill:#cee1f2" />
                            <path d="M392 512H120C53.8 512 0 458.2 0 392V120C0 53.8 53.8 0 120 0h208c11 0 20 9 20 20s-9 20-20 20H120c-44.1 0-80 35.9-80 80v272c0 44.1 35.9 80 80 80h272c44.1 0 80-35.9 80-80V207c0-11 9-20 20-20s20 9 20 20v185c0 66.2-53.8 120-120 120zm-6.7-275.2 112.1-134s0-.1.1-.1c22.1-26.7 18.4-66.3-8.3-88.4s-66.3-18.4-88.4 8.3l-.1.1-110.2 135.7c-7 8.6-5.7 21.2 2.9 28.1 8.6 7 21.2 5.7 28.1-2.9L431.7 48.2c8-9.6 22.4-10.9 32-2.9 9.7 8 11 22.4 3 32l-112 133.9c-7.1 8.5-6 21.1 2.5 28.2 3.7 3.1 8.3 4.7 12.8 4.7 5.7-.1 11.4-2.5 15.3-7.3z"
                                  style="fill:#3444f1" />
                            <path d="M169.5 433c-20.6 0-40.5-11.2-50.7-28.5-8.7-14.8-9-31.6-.9-46.3 10-18.1 15.8-34.9 21.3-51.1 9.4-27.7 18.4-53.8 45.3-76.2 19.6-16.3 44.3-23.9 69.5-21.5 25.3 2.4 48.2 14.6 64.3 34.4 14 17.1 21.7 38.8 21.7 61.1 0 39.4-23.7 74.5-66.7 99-31.1 17.7-71.9 29.1-103.8 29.1zm75.4-184c-12.7 0-24.9 4.4-34.9 12.7-18.3 15.2-24.5 33.3-33 58.4-5.8 17-12.4 36.4-24.2 57.6-.6 1.1-1.7 3.1.4 6.6 2.6 4.4 9 8.8 16.3 8.8C213.8 393.1 300 362 300 305c0-13.3-4.4-25.6-12.6-35.7-9.4-11.4-22.6-18.5-37.2-19.9-1.8-.3-3.6-.4-5.3-.4z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Art & Design</span>
                                <span>Fun & Challenging</span>
                            </div>
                        </div>
                    </div>
                    <div class="mid-explore-categories">
                        <div class="explore-category">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                 style="enable-background:new 0 0 512 512" viewBox="0 0 512 512">
                            <path d="M106.1 341.9V120c0-55.2 44.8-100 100-100h-61c-55.2 0-100 44.8-100 100v221.9c0 55.2 44.8 100 100 100h61c-55.3-.1-100-44.8-100-100z"
                                  style="fill:#cee1f2" />
                            <path d="M442.8 512c-10.5 0-20.9-3.9-29.2-11.3l-49.9-43.9c-8.3-7.3-9.1-19.9-1.8-28.2s19.9-9.1 28.2-1.8l49.9 43.9c.1 0 .1.1.2.1.5.4 1.9 1.7 4.3.7 2.4-1.1 2.4-3 2.4-3.7V120c0-44.1-35.9-80-80-80H145c-44.1 0-80 35.9-80 80v221.9c0 44.1 35.9 80 80 80h154c11 0 20 9 20 20s-9 20-20 20H145c-66.1 0-120-53.8-120-120V120C25.1 53.8 78.9 0 145 0h222c66.1 0 120 53.8 120 120v348c0 17.6-10 33-26.1 40.2-5.9 2.5-12.1 3.8-18.1 3.8zm-92.1-248c-9.3-5.9-21.7-3.2-27.6 6.1-.2.4-25.1 38.7-67.1 38.7s-67.9-38.3-68.1-38.7c-5.9-9.3-18.3-12.1-27.6-6.1-9.3 5.9-12.1 18.3-6.1 27.6 1.5 2.3 38.2 57.2 101.8 57.2s99.3-54.9 100.8-57.2c6-9.3 3.2-21.6-6.1-27.6z"
                                  style="fill:#3444f1" />
                            <path d="M334 211.9c-11 0-20-9-20-20v-55c0-11 9-20 20-20s20 9 20 20v55c0 11.1-9 20-20 20zm-135-20v-55c0-11-9-20-20-20s-20 9-20 20v55c0 11 9 20 20 20s20-8.9 20-20z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Lifestyle</span>
                                <span>New Skills, New You</span>
                            </div>
                        </div>
                        <div class="explore-category explore-margin">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                 style="enable-background:new 0 0 512 512" viewBox="0 0 512 512">
                            <path d="M81.5 276c0-92.5 58.2-171.5 140-202.2-9.2-7.6-21.6-11.2-34.4-8.2C91.4 87.7 20 173.5 20 276c0 119.6 96.3 216 216 216 10.4 0 20.7-.8 30.7-2.2C161.7 475 81.5 385.2 81.5 276z"
                                  style="fill:#cee1f2" />
                            <path d="M236 512c-63.2 0-122.5-24.5-167-69S0 339.2 0 276c0-53.6 18.5-106.2 52.1-147.9 33.1-41.1 79.4-70.2 130.5-82 17.9-4.1 36.3 0 50.7 11.5s22.7 28.6 22.7 47V236c0 11 9 20 20 20h131.4c18.4 0 35.6 8.3 47 22.7 11.4 14.4 15.6 32.9 11.5 50.7-11.8 51.1-41 97.4-82 130.5C342.1 493.5 289.6 512 236 512zM196.1 84.6c-1.5 0-3 .2-4.5.5C102.3 105.7 40 184.2 40 276c0 52.5 20.3 101.8 57.3 138.7 36.9 37 86.2 57.3 138.7 57.3 91.8 0 170.3-62.3 190.9-151.6 1.4-5.9 0-12-3.8-16.8s-9.6-7.6-15.7-7.6H276c-33.1 0-60-26.9-60-60V104.6c0-6.1-2.8-11.9-7.6-15.7-3.6-2.9-7.9-4.3-12.3-4.3zm-9-19z"
                                  style="fill:#3444f1" />
                            <path d="M450.6 216h-93.2c-33.9 0-61.4-27.6-61.4-61.4V61.4c0-19.7 9.1-37.7 24.9-49.4C336.8.3 356.8-3 375.8 2.8c31.3 9.7 60.1 27 83.2 50.2 23.2 23.2 40.5 51.9 50.2 83.2 5.9 18.9 2.5 38.9-9.3 54.8-11.6 15.9-29.6 25-49.3 25zM357.4 40c-4.5 0-9 1.4-12.8 4.2-5.5 4.1-8.7 10.3-8.7 17.2v93.2c0 11.8 9.6 21.4 21.4 21.4h93.2c6.9 0 13.1-3.2 17.2-8.7 4.1-5.6 5.3-12.6 3.2-19.3-7.8-25.1-21.7-48.2-40.3-66.8C412.1 62.7 389 48.8 363.9 41c-2.1-.6-4.3-1-6.5-1z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Marketing</span>
                                <span>Improve your business</span>
                            </div>
                        </div>
                        <div class="explore-category explore-margin">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                 style="enable-background:new 0 0 512 512" viewBox="0 0 512 512">
                            <path d="M438 512c-40.8 0-74-33.2-74-74V74c0-40.8 33.2-74 74-74s74 33.2 74 74v364c0 40.8-33.2 74-74 74zm0-472c-18.7 0-34 15.3-34 34v364c0 18.7 15.3 34 34 34s34-15.3 34-34V74c0-18.7-15.3-34-34-34zM74 512c-40.8 0-74-33.2-74-74v-82c0-40.8 33.2-74 74-74s74 33.2 74 74v82c0 40.8-33.2 74-74 74zm0-190c-18.7 0-34 15.3-34 34v82c0 18.7 15.3 34 34 34s34-15.3 34-34v-82c0-18.7-15.3-34-34-34zm182 190c-40.8 0-74-33.2-74-74V213c0-40.8 33.2-74 74-74s74 33.2 74 74v225c0 40.8-33.2 74-74 74zm0-333c-18.7 0-34 15.3-34 34v225c0 18.7 15.3 34 34 34s34-15.3 34-34V213c0-18.7-15.3-34-34-34z"
                                  style="fill:#3444f1" />
                            <path d="M139 162.3c0-31.2-27.8-56.7-61.9-56.7-14.5 0-25.1-7-25.1-16.7 0-9.2 7.4-16.7 16.5-16.7 9.2 0 21.1 1 40.2 8.4 10.3 4 21.9-1.1 25.9-11.4s-1.1-21.9-11.4-25.9c-9.9-3.9-18.6-6.4-26.2-8.1V20C97 9 88 0 77 0S57 9 57 20v13.5C31.3 38.9 12 61.7 12 89c0 32.3 28 56.7 65.1 56.7 11.9 0 21.9 7.6 21.9 16.7 0 8.9-8.3 16.7-17.7 16.7-7.3 0-25.8-2.7-43.9-9.9-10.3-4.1-21.9.9-26 11.2s.9 21.9 11.2 26c11.6 4.6 23.7 7.9 34.4 10V228c0 11 9 20 20 20s20-9 20-20v-11.2c9.1-2.6 17.6-7.4 24.6-14.2 11.2-10.7 17.4-25 17.4-40.3z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Finance</span>
                                <span>Fun & Challenging</span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-explore-categories">
                        <div class="explore-category">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0"
                                 style="enable-background:new 0 0 512 512" version="1.1" viewBox="0 0 512 512">
                            <style>
                                .st1 {
                                    fill: #3444f1
                                }
</style>
                            <path d="M59.3 194.1c0-31.1 14.5-60.5 39.3-79.4l96.8-74.4c35.8-27.3 85.3-27.3 121.1 0l34.9 41.2c-35.8-27.3-85.3-27.3-121.1 0L118 170.2c-24.8 18.9-39.3 48.2-39.3 79.4l-19.4-55.5zM24.5 390l-.2.3c-8.8 16.9-2.4 37.8 14.4 46.8 12.9 6.9 27.7 14.5 44.7 21.8-.1-1.3-.2-5.8-.2-6.7-12-10.3-15.7-27.8-8.1-42.4l.2-.3c8.2-15.7 26.3-21.7 43-16.4 0-.4.1-.8.1-1.3-18.2-5.9-34.6-10.2-48.8-15.6-17.2-6.5-36.6-2.6-45.1 13.8zm189.7-62.1c-7.3-1-14.6-.7-21.3 1.1-11.4 3.2-20.9 11.1-25.7 22.7-9.2 22.4 1.8 44.8 26.8 53.9 13.8 5 30.1 7.1 46.9 7.5.2-3.5.5-7 .9-10.4-15.5-8.4-21.8-24.3-15.3-40.2 3.8-9.3 11.4-15.3 20.5-17.9.5-.1 1-.2 1.5-.4.3-4.6.6-9.2.8-13.8-11 .1-22.6-.8-35.1-2.5z"
                                  style="fill:#cee1f2" />
                            <path d="M6.7 381.8c13-25 42.5-35.5 70.1-25.1 19.2 7.3 42.8 16.2 68.4 23.3-2.4-11.4-1.2-23.4 3.5-34.9 6.9-16.7 21-29.1 38.8-34.1 9.1-2.5 19-3.1 29.3-1.7 68.4 9.3 109.1-13.8 145.1-34.2 24.2-13.7 47-26.7 73.7-26.7 31.2 0 61.9 10.9 61.9 10.9 10.5 3.3 16.4 14.5 13.1 25s-14.5 16.4-25 13.1c0 0-25.5-9.1-49.9-9.1-16.2 0-32.8 9.5-54 21.5-31.6 18-73.1 41.5-134.8 41.5-11.1 0-22.9-.8-35.3-2.5-4.9-.7-9.5-.5-13.2.6-4.2 1.2-9.8 4-12.6 10.8-2.2 5.3-2.3 10.2-.3 14.7 2.4 5.5 7.9 10 15.5 12.8 10.9 4 26.5 6.1 44.1 6.3 19 .1 37.5-2.1 53.8-6.3 10.7-2.8 21.6 3.6 24.4 14.2 2.8 10.7-3.6 21.6-14.2 24.4-19.1 5-41 7.6-64 7.6C169 433.8 104 409.7 62.6 394c-6.9-2.6-16.5-1.5-20.7 6.5-3.7 7.2-1 16.1 6.1 20C98.1 447.3 156.2 472 241.7 472c76.1 0 146.1-29.4 191.5-54 35-19 60.5-13 63.3-12.2v.1c8.5 2.3 14.9 10 14.9 19.3 0 11-8.9 20-20 20-1.9 0-3.8-.3-5.5-.8-3.4-.4-15.7-.9-33.6 8.8-49.4 26.8-126 58.8-210.5 58.8-107.2 0-178.3-38-212.5-56.2-26.3-14.1-36.4-47.5-22.6-74zM486.9 443.6zM79.2 293.4v-99.3c0-24.7 11.7-48.5 31.5-63.5l96.8-74.3c28.5-21.7 68.3-21.7 96.9 0l97.8 74.4c20 15.2 31.4 38.2 31.4 63 0 11 8.9 20 20 20 11 0 20-8.9 20-20 0-37.4-17.2-71.9-47.2-94.8l-97.8-74.4C285.8-8.2 226-8.2 183.2 24.5L86.4 98.8c-29.5 22.5-47.1 58.1-47.1 95.2v99.3c0 11 8.9 20 20 20s19.9-8.9 19.9-19.9z"
                                  class="st1" />
                            <path d="M240.9 151.6c0 13.8-11.2 25-25 25s-25-11.2-25-25 11.2-25 25-25 25 11.3 25 25zm54.9-24.9c-13.8 0-25 11.2-25 25s11.2 25 25 25 25-11.2 25-25-11.2-25-25-25zM216 206.5c-13.8 0-25 11.2-25 25s11.2 25 25 25 25-11.2 25-25-11.2-25-25-25zm79.8 0c-13.8 0-25 11.2-25 25s11.2 25 25 25 25-11.2 25-25-11.2-25-25-25z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Health & Fitness</span>
                                <span>Invest to Your Body</span>
                            </div>
                        </div>
                        <div class="explore-category explore-margin">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                                 style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: #CAC5EF;
                                }

                                .st1 {
                                    fill: #3444F1;
                                }

                                .st2 {
                                    fill: #FFB31F;
                                }
</style>
                            <g>
                            <path class="st0"
                                  d="M128.9,421.4c-37.9-36.3-49-86.7-49-122.8c0-54.9,32.9-79.8,68.9-96.7V181C101.9,205.1,20,217,20,303.6   c0,36.1,11.1,86.5,48.9,122.9c36.4,37.8,86.8,48.9,122.9,48.9c14.5,0,26.9-2.3,37.6-6.4C196.7,465.1,158.2,452,128.9,421.4z" />
                            <g>
                            <path class="st1"
                                  d="M505.6,38.8l-12.4-11.4c-15.9-14.7-40.3-14.2-55.6,1.3L309.9,158c-4.8,4.9-10.4,3.5-12.5,2.7s-7.1-3.3-7.6-10    c-0.8-10.8,0-20.7,2.2-27.8c5-15.6,2.6-32-6.5-45.2c-9.3-13.5-24.6-22-40.8-22.9c-13.1-0.7-32.1,4.9-46.4,22.5    c-10,12.4-17.1,27.7-24,42.5c-6,13-12.3,26.5-18.4,32.4c-0.1,0.1-0.2,0.2-0.3,0.3c-8.6,8.6-26.3,15.7-45,23.3    C87.1,185.3,60.4,196,39,214.5c-25.9,22.4-39,52.4-39,89.1c0,25.3,5.3,89.3,54.8,137c47.7,49.4,111.7,54.8,137,54.8    c36.7,0,66.6-13.1,89-39.1c18.5-21.4,29.2-48.1,38.7-71.6c7.5-18.7,14.9-36.6,23.5-45.2l0,0l0,0c5.9-6.1,19.4-12.4,32.4-18.4    c14.8-6.9,30.1-14,42.5-24c17.6-14.3,23.2-33.3,22.5-46.4c-0.8-16.2-9.4-31.5-22.9-40.8c-13.1-9.1-29.6-11.5-45.2-6.5    c-10.5,3.3-16.3,14.6-13,25.1s14.6,16.3,25.1,13c3.8-1.2,7.3-0.8,10.3,1.3c3.3,2.3,5.5,6.2,5.7,10.1c0,0.1,0.3,6.8-7.7,13.2    c-8.5,6.9-21.6,12.9-34.2,18.8c-17.1,7.9-33.2,15.4-44.3,26.8c-14.3,14.4-22.9,35.7-31.9,58.2c-20.8,51.7-38.4,85.7-90.6,85.7    c-20.2,0-71.3-4.2-108.5-42.8c-0.2-0.2-0.4-0.4-0.6-0.6C44.1,374.9,40,323.8,40,303.6c0-52.3,33.9-69.8,85.7-90.6    c22.5-9.1,43.8-17.6,58.2-31.9c11.5-11.1,18.9-27.2,26.8-44.3c5.9-12.6,11.9-25.7,18.8-34.2c6.5-8,13.2-7.7,13.2-7.7    c3.8,0.2,7.8,2.4,10.1,5.7c2.1,3,2.5,6.5,1.3,10.3c-3.8,12.1-5.2,26.9-4,43c1.5,20.3,14.4,37.3,33.6,44.4    c19.3,7.1,40.2,2.5,54.7-12.1L466.1,56.7l12.4,11.4c8.1,7.5,20.7,7,28.2-1.1S513.7,46.3,505.6,38.8L505.6,38.8z" />
                            <path class="st1"
                                  d="M207.6,209.5c-7.8,7.8-7.8,20.5,0,28.3l49.9,49.9c3.9,3.9,9,5.9,14.1,5.9s10.2-2,14.1-5.9    c7.8-7.8,7.8-20.5,0-28.3l-49.9-49.9C228.1,201.7,215.4,201.7,207.6,209.5L207.6,209.5z" />
                                        </g>
                            <path class="st2"
                                  d="M215.8,350.5c-5.1,0-10.2-2-14.1-5.9l-49.9-49.9c-7.8-7.8-7.8-20.5,0-28.3s20.5-7.8,28.3,0l49.9,49.9   c7.8,7.8,7.8,20.5,0,28.3C226,348.6,220.9,350.5,215.8,350.5z M173.9,400.6c7.8-7.8,7.8-20.5,0-28.3L124,322.4   c-7.8-7.8-20.5-7.8-28.3,0s-7.8,20.5,0,28.3l49.9,49.9c3.9,3.9,9,5.9,14.1,5.9C164.9,406.4,170,404.5,173.9,400.6z" />
                                    </g>
                                </svg>
                            <div class="explore-head-text">
                                <span>Music</span>
                                <span>Major or Mino</span>
                            </div>
                        </div>
                        <div class="explore-category explore-margin">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                 style="enable-background:new 0 0 512 512" viewBox="0 0 512 512">
                            <path d="M91.5 96c0-23.1 12.7-43.2 31.5-53.7-8.9-5-19.1-7.8-30-7.8C59 34.5 31.5 62 31.5 96S59 157.5 93 157.5c10.9 0 21.1-2.8 30-7.8-18.8-10.5-31.5-30.6-31.5-53.7z"
                                  style="fill:#cee1f2" />
                            <path d="M158 226v178.6c0 22.6-6.6 44.5-19.2 63.3l-.2.2-24.2 35.2c-3.7 5.4-9.9 8.7-16.5 8.7s-12.8-3.2-16.5-8.7l-24.2-35.2-.2-.2c-12.4-18.9-19-40.7-19-63.3V229c0-11 9-20 20-20s20 9 20 20v175.6c0 14.6 4.3 28.8 12.4 41l7.6 11.1 7.6-11.1c8.1-12.2 12.4-26.4 12.4-41V226c0-11 9-20 20-20s20 9 20 20zM503.3 81.5l-35.2-24.2-.2-.2C449 44.6 427.2 38 404.6 38H229c-11 0-20 9-20 20s9 20 20 20h175.6c14.6 0 28.8 4.3 41 12.4l11.1 7.6-11.1 7.6c-12.2 8.1-26.4 12.4-41 12.4H225c-11 0-20 9-20 20s9 20 20 20h179.6c22.6 0 44.5-6.6 63.3-19.2l.2-.2 35.2-24.2c5.4-3.7 8.7-9.9 8.7-16.5s-3.2-12.7-8.7-16.4zM176 94.5c0 44.9-36.6 81.5-81.5 81.5S13 139.4 13 94.5c0-15.2 4.2-29.5 11.5-41.7L5.9 34.1C-2 26.3-2 13.7 5.9 5.9s20.5-7.8 28.3 0l18.7 18.7C65 17.2 79.3 13 94.5 13c44.9 0 81.5 36.6 81.5 81.5zm-40 0C136 71.6 117.4 53 94.5 53S53 71.6 53 94.5 71.6 136 94.5 136 136 117.4 136 94.5z"
                                  style="fill:#3444f1" />
                            <path d="M198 512c-11 0-20-9-20-20s9-20 20-20c151.1 0 274-122.9 274-274 0-11 9-20 20-20s20 9 20 20c0 83.9-32.7 162.7-92 222s-138.1 92-222 92z"
                                  style="fill:#ffb31f" />
                                </svg>
                            <div class="explore-head-text">
                                <span>Academics</span>
                                <span>High Education Level</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="explore-bottom">
                <div class="explore-bottom-left">
                    <div class="explore-left-ban-content">
                        <span>Free</span>
                        <p>Germany Foundation <br>Document</p>
                        <button>View Courses</button>
                    </div>
                    <div class="exp-left-in-img">
                        <img src="~/assets/images/exp-img1.png" alt="">
                    </div>
                    <div class="explore-left-ban-img">
                        <img src="~/assets/images/exp-bot-left.jpg" alt="">
                    </div>
                </div>

                <div class="explore-bottom-right">
                    <div class="explore-right-ban-content">
                        <span>New</span>
                        <p>Online Courses <br>From Eduka University</p>
                        <button>View Courses</button>
                    </div>
                    <div class="explore-right-ban-img">
                        <img src="~/assets/images/exp-bot-right.jpg" alt="">
                    </div>

                    <div class="exp-right-in-img">
                        <img src="~/assets/images/exp-img2.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="online-course">
        <div class="container">
            <div class="course-container">
                <div class="course-heading">
                    <div class="course-heading-top">
                        <h2>
                            Find The Right <br> Online <span class="crs-animated-txt">
                                Course
                                <img src="~/assets/images/orange-line.png" alt="">
                            </span> For You
                        </h2>
                    </div>

                    <div class="course-heading-mid">
                        <p>You don't have to struggle alone, you've got our assistance and help.</p>
                    </div>
                    <div class="course-heading-bottom">
                        <span class="course-see-all">See All</span>
                        <span class="course-heading-cat-margin">Popularity</span>
                        <span class="course-heading-cat-margin">Trending</span>
                        <span class="course-heading-cat-margin">Featured</span>
                        <span class="course-heading-cat-margin">Art & Design</span>
                    </div>
                </div>

                <div class="course-carts">
                    <div class="course-carts-top">
                        <div class="course-cart">
                            <div class="course-cart-top">
                                <span>Art&Design</span>
                                <img src="~/assets/images/course-1.jpg" alt="">
                            </div>
                            <div class="course-cart-mid">
                                <div class="course-cart-info">
                                    <div class="course-cart-info-left">
                                        <i class="fa-solid fa-book"></i>
                                        <span>43 Lesson</span>
                                    </div>
                                    <div class="course-cart-info-right">
                                        <i class="fa-solid fa-star"></i>
                                        <span>4.5(44)</span>
                                    </div>
                                </div>
                                <div class="course-cart-body">
                                    <p>Become a product Manager learn <br>the skills & job.</p>
                                    <img src="~/assets/images/teacher-1.jpg" alt="">
                                    <span>Jim Séchen</span>
                                </div>
                            </div>
                            <div class="course-cart-bottom">
                                <div class="course-cart-bottom-left">
                                    <span>$21.00</span>
                                    <span><s>$33.00</s></span>
                                </div>
                                <div class="course-cart-bottom-right">
                                    <span>Know Details</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="course-cart course-cart-margin">
                            <div class="course-cart-top">
                                <span>UX Design</span>
                                <img src="~/assets/images/course-cart2.jpg" alt="">
                            </div>
                            <div class="course-cart-mid">
                                <div class="course-cart-info">
                                    <div class="course-cart-info-left">
                                        <i class="fa-solid fa-book"></i>
                                        <span>72 Lesson</span>
                                    </div>
                                    <div class="course-cart-info-right">
                                        <i class="fa-solid fa-star"></i>
                                        <span>4.0(44)</span>
                                    </div>
                                </div>
                                <div class="course-cart-body">
                                    <p>Fundamentals of music theory <br>Learn new</p>
                                    <img src="~/assets/images/teacher-2.jpg" alt="">
                                    <span>Barry Tone</span>
                                </div>
                            </div>
                            <div class="course-cart-bottom">
                                <div class="course-cart-bottom-left">
                                    <span>$32.00</span>
                                    <span><s>$68.00</s></span>
                                </div>
                                <div class="course-cart-bottom-right">
                                    <span>Know Details</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="course-cart course-cart-margin">
                            <div class="course-cart-top">
                                <span>Development</span>
                                <img src="~/assets/images/course-cart3.jpg" alt="">
                            </div>
                            <div class="course-cart-mid">
                                <div class="course-cart-info">
                                    <div class="course-cart-info-left">
                                        <i class="fa-solid fa-book"></i>
                                        <span>35 Lesson</span>
                                    </div>
                                    <div class="course-cart-info-right">
                                        <i class="fa-solid fa-star"></i>
                                        <span>4.3(44)</span>
                                    </div>
                                </div>
                                <div class="course-cart-body">
                                    <p>Bases Matemáticas dios Álgebra<br>Ecuacion</p>
                                    <img src="~/assets/images/teacher-3.jpg" alt="">
                                    <span>Samuel Serif</span>
                                </div>
                            </div>
                            <div class="course-cart-bottom">
                                <div class="course-cart-bottom-left">
                                    <span>$13.00</span>
                                    <span><s>$19.00</s></span>
                                </div>
                                <div class="course-cart-bottom-right">
                                    <span>Know Details</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-carts-bottom">
                        <div class="course-cart cr-cart-top-margin">
                            <div class="course-cart-top">
                                <span>Development</span>
                                <img src="~/assets/images/course-cart-4.jpg" alt="">
                            </div>
                            <div class="course-cart-mid">
                                <div class="course-cart-info">
                                    <div class="course-cart-info-left">
                                        <i class="fa-solid fa-book"></i>
                                        <span>60 Lesson</span>
                                    </div>
                                    <div class="course-cart-info-right">
                                        <i class="fa-solid fa-star"></i>
                                        <span>3.5(44)</span>
                                    </div>
                                </div>
                                <div class="course-cart-body">
                                    <p>Strategy law and organization<br>Foundation</p>
                                    <img src="~/assets/images/teacher-4.jpg" alt="">
                                    <span>Elon Gated</span>
                                </div>
                            </div>
                            <div class="course-cart-bottom">
                                <div class="course-cart-bottom-left">
                                    <span>$62.00</span>
                                    <span><s>$97.00</s></span>
                                </div>
                                <div class="course-cart-bottom-right">
                                    <span>Know Details</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="course-cart course-cart-margin cr-cart-top-margin">
                            <div class="course-cart-top">
                                <span>Marketing</span>
                                <img src="~/assets/images/course-cart5.jpg" alt="">
                            </div>
                            <div class="course-cart-mid">
                                <div class="course-cart-info">
                                    <div class="course-cart-info-left">
                                        <i class="fa-solid fa-book"></i>
                                        <span>28 Lesson</span>
                                    </div>
                                    <div class="course-cart-info-right">
                                        <i class="fa-solid fa-star"></i>
                                        <span>4.5(44)</span>
                                    </div>
                                </div>
                                <div class="course-cart-body">
                                    <p>The business Intelligence analyst<br>Course 2022</p>
                                    <img src="~/assets/images/teacher-5.jpg" alt="">
                                    <span>Eleanor Fant</span>
                                </div>
                            </div>
                            <div class="course-cart-bottom">
                                <div class="course-cart-bottom-left">
                                    <span>$25.00</span>
                                    <span><s>$36.00</s></span>
                                </div>
                                <div class="course-cart-bottom-right">
                                    <span>Know Details</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="course-cart course-cart-margin cr-cart-top-margin">
                            <div class="course-cart-top">
                                <span>Data Science</span>
                                <img src="~/assets/images/course-cart6.jpg" alt="">
                            </div>
                            <div class="course-cart-mid">
                                <div class="course-cart-info">
                                    <div class="course-cart-info-left">
                                        <i class="fa-solid fa-book"></i>
                                        <span>38 Lesson</span>
                                    </div>
                                    <div class="course-cart-info-right">
                                        <i class="fa-solid fa-star"></i>
                                        <span>4.8(44)</span>
                                    </div>
                                </div>
                                <div class="course-cart-body">
                                    <p>Bases Matemáticas dios Álgebra<br>Ecuacion</p>
                                    <img src="~/assets/images/teacher-6.jpg" alt="">
                                    <span>Brian Cumin</span>
                                </div>
                            </div>
                            <div class="course-cart-bottom">
                                <div class="course-cart-bottom-left">
                                    <span>$35.00</span>
                                    <span><s>$46.00</s></span>
                                </div>
                                <div class="course-cart-bottom-right">
                                    <span>Know Details</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="events">
        <div class="container">
            <div class="events-container">
                <img class="bckgrd" src="~/assets/images/events-img.png" alt="">
                <div class="events-heading">

                    <div class="events-heading-top">
                        <h2>
                            Current <span class="event-animated-txt">
                                Events<img src="~/assets/images/orange-line.png" alt="">
                            </span>
                        </h2>
                    </div>

                    <p>We found 13 events available for you.</p>
                </div>
                <div class="events-content">
                    <div class="event">
                        <div class="event-container">
                            <div class="event-left">
                                <div class="event-info">
                                    <span>Jun 14, 2022</span>
                                    <span>|</span>
                                    <span>12:00 am - 2:30 pm</span>
                                    <span>|</span>
                                    <span>New York</span>
                                </div>
                                <div class="event-name">
                                    <span>Digital transformation conference</span>
                                </div>
                            </div>
                            <div class="event-right">
                                <span>View More</span>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="event ev-margin">
                        <div class="event-container">
                            <div class="event-left">
                                <div class="event-info">
                                    <span>Jun 14, 2022</span>
                                    <span>|</span>
                                    <span>12:00 am - 2:30 pm</span>
                                    <span>|</span>
                                    <span>New York</span>
                                </div>
                                <div class="event-name">
                                    <span>Digital transformation conference</span>
                                </div>
                            </div>
                            <div class="event-right">
                                <span>View More</span>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="event ev-margin">
                        <div class="event-container">
                            <div class="event-left">
                                <div class="event-info">
                                    <span>Jun 14, 2022</span>
                                    <span>|</span>
                                    <span>12:00 am - 2:30 pm</span>
                                    <span>|</span>
                                    <span>New York</span>
                                </div>
                                <div class="event-name">
                                    <span>Digital transformation conference</span>
                                </div>
                            </div>
                            <div class="event-right">
                                <span>View More</span>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="event ev-margin">
                        <div class="event-container">
                            <div class="event-left">
                                <div class="event-info">
                                    <span>Jun 14, 2022</span>
                                    <span>|</span>
                                    <span>12:00 am - 2:30 pm</span>
                                    <span>|</span>
                                    <span>New York</span>
                                </div>
                                <div class="event-name">
                                    <span>Digital transformation conference</span>
                                </div>
                            </div>
                            <div class="event-right">
                                <span>View More</span>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="plans">
        <div class="container">
            <div class="plans-heading">
                <div class="plans-headin-top">
                    <h2>
                        Simple <br> All Inclusive <span class="plans-animated-txt">
                            Pricing<img src="~/assets/images/orange-line.png" alt="">
                        </span>
                    </h2>
                </div>
                <div class="plan-heading-mid">
                    <p>No contracts. No surprise fees.</p>
                </div>
                <div class="plans-heading-bottom">
                    <button>Monthly Plan</button>
                    <button>Annual Plan</button>
                </div>
            </div>
            <div class="plan-container">
                <div class="plan">
                    <div class="plan-content">
                        <div class="plan-content-top">
                            <div class="plan-info">
                                <h3>Gold</h3>
                                <p>Perfect for small marketing teams</p>
                            </div>
                            <div class="plan-price">
                                <span>$59</span>
                                <span>.99 / annually</span>
                            </div>
                        </div>

                        <div class="plan-content-mid">
                            <div class="plan-content-mid-specs">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Course Discussions</span>
                            </div>
                            <div class="plan-content-mid-specs">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Content Library</span>
                            </div>
                            <div class="plan-content-mid-specs">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>1-hour Mentorship</span>
                            </div>
                        </div>

                        <div class="plan-content-bottom">
                            <button>Get Started</button>
                        </div>
                    </div>
                </div>

                <div class="plan plan-margin">
                    <div class="plan-content">
                        <div class="plan-content-top">
                            <div class="plan-info">
                                <h3>Diamond</h3>
                                <p>Perfect for small marketing teams</p>
                                <span>Best Value</span>
                            </div>
                            <div class="plan-price">
                                <span>$99</span>
                                <span>.99 / annually</span>
                            </div>
                        </div>

                        <div class="plan-content-mid">
                            <div class="plan-content-mid-specs">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Course Discussions</span>
                            </div>
                            <div class="plan-content-mid-specs">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Content Library</span>
                            </div>
                            <div class="plan-content-mid-specs">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>1-hour Mentorship</span>
                            </div>
                            <div class="plan-content-mid-specs">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Online Course</span>
                            </div>
                        </div>

                        <div class="plan-content-bottom">
                            <button>Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>